
<div style="text-align:center;">
<%= form_with model: @users do |form| %>
    <%= form.label :username ,"Username"%><br>
    <%= form.text_field :username %><br>
    <%= form.label :password %><br>
    <%= form.password_field :password%><br>
    <%= form.submit %>
<% end %>
</div>

<%@temp = "http://localhost:3000/home/main"%>
<a href= <%=@temp%>>localhost:3000/home/main</a>

    